.payment-steps {
  .step-tab {
    border-radius: 4px;
    font-weight: 700;
    margin-bottom: 40px;
    padding: 5px 10px;

    &.active {
      background-color: #eee;
      text-decoration: none;

      span {
        opacity: 1;
      }
    }
  }

  span {
    opacity: .6;
  }
}

.ui-select-container {
  width: auto;
}
