.tx-panel {
  background: #fff;
  // border: 1px solid #e8e8e8;
  border-top: 4px solid transparent;
  border-radius: 4px;
  // box-shadow: 0 1px 0 rgba(0,0,0,.25);
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;

  &.tx-pending {
    border-top-color: $color-yellow;

    .tx-status {
      background: $color-yellow;
    }
  }

  &.tx-success {
    border-top-color: $color-green;

    .tx-status {
      background: $color-green;
    }
  }

  &.tx-error {
    border-top-color: $color-red;

    .tx-status {
      background: $color-red;
    }
  }

  .tx-status {
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 1.3em;
    padding: 15px 40px;
    position: absolute;
    right: 45px;
    top: -1.6em;
    z-index: 997;

    span {
      text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    }
  }
}

#tx-info {
  .info-left {
    background: #fff;
    float: left;
    position: relative;
    width: 60%;

    &:after {
      border: solid transparent;
      border-color: rgba(247, 247, 247, 0);
      border-left-color: #fff;
      border-width: 20px;
      content: " ";
      height: 0;
      left: 100%;
      margin-top: -20px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      width: 0;
      z-index: 999;
    }
  }

  .info-right {
    background-color: #ecf0f1;
    display: inline-block;
    min-height: 100px;
    width: 40%;
  }

  .content {
    padding: 45px 30px 30px 30px;
  }

  .qrcode-container {
    text-align: center;
  }

  .alert {
    margin-top: 20px;
  }
}

.step {
  margin-bottom: 20px;

  h3 {
    font-size: 2.5em;
    font-weight: normal;
    margin: 0;
    margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }

    .step-icon {
      float: left;
      width: 45px;
    }
  }

  h5 {
    color: #999;
    font-size: 1.0em;
    font-weight: normal;
    margin: 10px 0 0 50px;
  }
}

.pin-form {
  margin-top: 60px;
}
