.tx-panel {
  background: #fff;
  // border: 1px solid #e8e8e8;
  border-top: 4px solid transparent;
  border-radius: 4px;
  // box-shadow: 0 1px 0 rgba(0,0,0,.25);
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;

  &.tx-pending {
    border-top-color: $color-yellow;

    .tx-status {
      background: $color-yellow;
    }
  }

  &.tx-success {
    border-top-color: $color-green;

    .tx-status {
      background: $color-green;
    }
  }

  &.tx-error {
    border-top-color: $color-red;

    .tx-status {
      background: $color-red;
    }
  }

  .tx-status {
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 1.3em;
    padding: 15px 40px;
    position: absolute;
    right: 45px;
    text-align: center;
    top: -1.6em;
    z-index: 997;

    span {
      text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
    }
  }
}

#tx-info {
  .info-left {
    background: #fff;
    float: left;
    min-height: 520px;
    position: relative;
    width: 60%;
  }

  .info-right {
    background-color: #ecf0f1;
    border-bottom-right-radius: 4px;
    display: inline-block;
    min-height: 100px;
    width: 40%;
  }

  .check-payment,
  .payment-button {
    text-align: center;
  }

  .content {
    padding: 45px 30px 30px 30px;
  }

  .qrcode-container {
    text-align: center;
  }

  .alert {
    margin-top: 20px;
  }
}

.step {
  margin-bottom: 20px;

  h3 {
    font-size: 2.5em;
    font-weight: normal;
    margin: 0;
    margin-top: 25px;

    &:first-child {
      margin-top: 0;
    }

    .step-icon {
      float: left;
      width: 45px;
    }
  }

  h5 {
    color: #999;
    font-size: 1.0em;
    font-weight: normal;
    margin: 10px 0 0 50px;
  }

  .btn-share {
    color: #fff;
    margin-bottom: 5px;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      &.share-fb {
        background-color: #5d7bba;
      }

      &.share-tw {
        background-color: #22ceff;
      }
    }

    &.share-fb {
      background-color: #3b5998;
    }

    &.share-tw {
      background-color: #00acee;
    }
  }
}

.pin-form {
  margin-top: 60px;
}

// Responsive
@media (max-width: 768px) {
  .tx-panel {
    border-radius: 0;
    margin-top: 50px;
  }

  .tx-status {
    border-radius: 0 !important;
    left: 0;
    margin: 0;
    top: -55px !important;
    width: 100%;
  }

  #tx-info {
    .content {
      padding: 15px 0;
    }

    .info-left {
      min-height: 0;
      width: 100%;
    }

    .info-right {
      min-height: 0;
      width: 100%;
    }
  }

  .step {
    h3 {
      font-size: 1.5em;

      .step-icon {
        width: 30px;
      }
    }

    h5 {
      font-size: 0.9em;
      margin: 10px 0 0 32px;
    }
  }
}

@media (min-width: 992px) {
  .info-left {
    &:after {
      border: solid transparent;
      border-color: rgba(247, 247, 247, 0);
      border-left-color: #fff;
      border-width: 20px;
      content: " ";
      height: 0;
      left: 100%;
      margin-top: -20px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      width: 0;
      z-index: 999;
    }
  }
}
