// Fonts
$font-family-base: 'Lato', sans-serif;
$font-color: #555459;

// Colors
$body-bg: #f9f9f9;

$color-green: #27ae60;
// $color-green: #4cb992;
$color-red: #e74c3c;
$color-yellow: #f1c40f;
$color-blue: #3499e0;
