<!DOCTYPE html>
<html ng-app="enbitcoins">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <meta name="description" content="Paga tus facturas, tarjetas, servicios y recargas en bitcoins.">
    <meta name="keywords" content="bitcoins,facturas,tarjetas,servicios,recargas,pagar">
    <meta name="author" content="enBitcoins">

    <meta property="og:site_name" content="enBitcoins.com">
    <meta property="og:url" content="https://enbitcoins.com/">
    <meta property="og:title" content="enBitcoins - Paga de todo.">
    <meta property="og:description" content="Paga tus facturas, tarjetas, servicios y recargas en bitcoins.">
    <meta property="og:image" content="https://files.enbitcoins.com/og.png">
    <meta property="og:type" content="website">

    <title>enBitcoins - Paga de todo.</title>

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,700">

    <!-- build:css({.tmp,app}) /css/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="../bower_components/angular-growl/build/angular-growl.min.css">
    <link rel="stylesheet" href="../bower_components/angular-typewrite/dist/angular-typewrite.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) /css/app.css -->
    <link rel="stylesheet" href="style.css">
    <!-- endbuild -->
  </head>
  <body ng-cloak class="ng-cloak">
    <div growl></div>

    <nav id="navbar" ng-controller="NavbarCtrl" ng-init="init()">
      <div class="pull-right">
        <ul class="nav nav-pills">
          <li class="hidden-xs">
            <a href="/seguridad">{{'NAV_SECURITY' | translate}}</a>
          </li>
          <li class="hidden-xs">
            <a href="/faq">{{'NAV_FAQ' | translate}}</a>
          </li>
          <li class="hidden-xs">
            <a href="" ng-click="contactModal()">{{'NAV_CONTACT' | translate}}</a>
          </li>
          <li class="btc-price">
            <div class="price-box up">
              <span class="price-value">{{priceTxt || '---'}}</span>
            </div>
          </li>
        </ul>
      </div>

      <a href="/" class="navbar-link">
        <img src="/img/logo.svg" class="navbar-logo" alt="enBitcoins.com">
      </a>

      <div class="country-selector hidden-xs">
        <img ng-src="/img/flags/{{$root.currentCountry.slug}}.png" alt="{{$root.currentCountry.name}}">
        <i class="fa fa-caret-down"></i>
        <span class="country-name">{{$root.currentCountry.name}}</span>
        <ul class="nav">
          <li ng-repeat="item in countries">
            <a ng-href="https://{{item.country.slug}}.enbitcoins.com" title="{{item.country.name}}">
              <img ng-src="/img/flags/{{item.country.slug}}.png"> {{item.country.name}}
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </nav>

    <div id="wrapper" ng-view></div>

    <!-- build:js /js/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>

    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>

    <script src="../bower_components/angular-growl/build/angular-growl.js"></script>
    <script src="../bower_components/angular-upload/angular-upload.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.js"></script>

    <script src="../bower_components/angular-typewrite/dist/angular-typewrite.js"></script>
    <script src="../bower_components/ng-clip/dest/ng-clip.min.js"></script>
    <script src="../bower_components/zeroclipboard/dist/ZeroClipboard.js"></script>

    <script src="../bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /js/app.js -->
    <script src="js/app.js"></script>

    <script src="js/controllers/contact-modal.js"></script>
    <script src="js/controllers/home.js"></script>
    <script src="js/controllers/navbar.js"></script>
    <script src="js/controllers/tx.js"></script>

    <script src="js/factories/notifications.js"></script>

    <script src="js/filters/to-bitcoins.js"></script>

    <script src="js/services/country.js"></script>
    <script src="js/services/payments.js"></script>
    <script src="js/services/ticker.js"></script>
    <script src="js/services/transactions.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /js/templates.js -->
    <script src="templates.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-51699397-2', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
