<div ng-init="init()">
  <div class="modal-header">
    <h3 class="modal-title">
      {{'CONTACT_HEADER' | translate}}
    </h3>
  </div>

  <form ng-submit="submit()" name="form">
    <div class="modal-body">

      <div class="form-group" ng-if="addr">
        <label for="addr">{{'CONTACT_ADDR' | translate}}:</label>
        {{addr}}
      </div>

      <div class="form-group">
        <label for="email">{{'CONTACT_EMAIL' | translate}}</label>
        <input type="email" id="contact-email" ng-model="email" class="form-control" ng-disabled="sending" required>
      </div>

      <div class="form-group">
        <label for="msg">{{'CONTACT_MSG' | translate}}</label>
        <textarea name="msg" rows="3" class="form-control" ng-model="msg" ng-disabled="sending" required></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="close()">{{'CONTACT_CLOSE' | translate}}</button>
      <button type="submit" class="btn btn-success" ng-disabled="sending || form.$invalid">{{'CONTACT_SEND' | translate}}</button>
    </div>
  </form>
</div>
