<div id="faq" class="container">
  <h2>
    <i class="fa fa-question-circle text-blue"></i>
    {{'FAQ_HEADER' | translate}}
  </h2>

  <hr>

  <ul class="list-unstyled">
    <li>
      <h4>
        {{'FAQ_1' | translate}}
      </h4>
      <p>
        {{'FAQ_1_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_2' | translate}}
      </h4>
      <p>
        {{'FAQ_2_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_3' | translate}}
      </h4>
      <p>
        {{'FAQ_3_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_4' | translate}}
      </h4>
      <p>
        {{'FAQ_4_TXT' | translate}}
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_5' | translate}}
      </h4>
      <p>
        {{'FAQ_5_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_6' | translate}}
      </h4>
      <p>
        {{'FAQ_6_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_7' | translate}}
      </h4>
      <p>
        {{'FAQ_7_TXT' | translate}}
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_8' | translate}}
      </h4>
      <p>
        {{'FAQ_8_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_9' | translate}}
      </h4>
      <p>
        {{'FAQ_9_TXT' | translate}}.
      </p>
      <br>
    </li>
     <li>
      <h4>
        {{'FAQ_10' | translate}}
      </h4>
      <p>
        {{'FAQ_10_TXT' | translate}}.
      </p>
      <br>
     </li>
    <li>
      <h4>
        {{'FAQ_11' | translate}}
      </h4>
      <p>
        {{'FAQ_11_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_12' | translate}}
      </h4>
      <p>
        {{'FAQ_12_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_13' | translate}}
      </h4>
      <p>
        {{'FAQ_13_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_14' | translate}}
      </h4>
      <p>
        {{'FAQ_14_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_15' | translate}}
      </h4>
      <p>
        {{'FAQ_15_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_16' | translate}}
      </h4>
      <p>
        {{'FAQ_16_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_17' | translate}}
      </h4>
      <p>
        {{'FAQ_17_TXT' | translate}}.
      </p>
      <br>
    </li>
    <li>
      <h4>
        {{'FAQ_18' | translate}}
      </h4>
      <p>
        {{'FAQ_18_TXT' | translate}}.
      </p>
      <br>
    </li>
  </ul>
</div>
