<div id="home" class="container" ng-init="init()">

  <div class="row text-center payment-steps">
    <div class="col-md-4">
      <span class="text-blue" ng-class="{active: step === 1}">
        1. Empresa
      </span>
    </div>
    <div class="col-md-4">
      <span class="text-yellow" ng-class="{active: step === 2}">
        2. Detalles
      </span>
    </div>
    <div class="col-md-4">
      <span class="text-green" ng-class="{active: step === 3}">
        3. Confirmar Pago
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" ng-if="step === 1">
      <ui-select ng-model="company.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="false" style="width: 300px;">
        <ui-select-match placeholder="Empresa...">
          {{$select.selected.name}}
        </ui-select-match>
        <ui-select-choices repeat="company in companies" refresh="refreshCompanies($select.search)" refresh-delay="0">
          <div ng-bind-html="company.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>

      <div class="btn btn-primary btn-upload" upload-button url="https://api.enbitcoins.com/v1/upload?country={{$root.country.slug}}" param="files" data="formData" required="true" on-upload="onUpload(files)" on-success="onSuccess(response)" on-error="onError(response)" on-complete="onComplete(response)">Fileupload</div>
    </div>
    <div class="col-md-4" ng-if="step === 2">
      Step 2
    </div>
    <div class="col-md-4" ng-if="step === 3">
      Step 3
    </div>
  </div>
</div>
