<div id="home" class="container" ng-init="init()">

  <div class="row text-center">
    <h1>
      ¡Paga <span class="text-orange" typewrite text="['servicios', 'tarjetas', 'recargas', 'de todo']"></span> <strong>enBitcoins</strong>!
    </h1>
  </div>

  <div class="row payment-steps">
    <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1 step-tab" ng-class="{active: step === 1, ready: step === 2}" ng-click="setStep(1)">
      1. Empresa
    </div>

    <div class="col-md-5 col-xs-5 step-tab" ng-class="{active: step === 2}">
      2. Detalles
    </div>

    <div id="step1" ng-if="step === 1">
      <div ng-if="!uploadLoading">
        <div class="col-md-5 col-md-offset-1 text-center">
          <input type="text" ng-model="companySelected" placeholder="Buscar una empresa" typeahead="company as company.name for company in getCompanies($viewValue)" typeahead-loading="loadingCompanies" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-on-select="selectCompany($item)" class="form-control input-lg">
          <i ng-show="loadingCompanies" class="fa fa-refresh fa-spin text-blue"></i>
          <div class="no-results text-red" ng-show="noResults">
            <i class="fa fa-times"></i> Sin resultados
          </div>
        </div>

        <div class="col-md-5 text-center">
          <div class="btn btn-success btn-lg btn-block btn-upload" upload-button url="https://api.enbitcoins.com/v1/upload?country={{$root.country.slug}}" param="file" data="formData" accept="image/*,application/pdf" required="true" on-upload="onUpload()" on-success="onSuccess(response)" on-error="onError(response)" on-complete="onComplete()">Subir factura electrónica</div>
        </div>

        <div class="col-md-12 col-xs-12 text-center help-text">
          <p>Selecciona una empresa de la lista ó sube una factura electrónica.</p>
        </div>
      </div>

      <div class="col-md-10 col-md-offset-1 col-xs-12" ng-if="uploadLoading">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: 100%;">
            Subiendo archivo...
          </div>
        </div>
      </div>
    </div>

    <div id="step2" ng-if="step === 2">
      <form name="paymentForm" ng-submit="confirm()">
        <div class="form-group col-md-5 col-md-offset-1 col-xs-12">
          <label for="amount">Monto</label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-usd"></i>
            </span>
            <input type="number" step="any" class="form-control input-lg" id="amount" ng-model="payment.amount" ng-disabled="sending" tabindex="1" required>
          </div>
        </div>
        <div class="form-group col-md-5 col-xs-12">
          <label for="code">
            {{company.pay_data_name || 'Código de pago electrónico'}}
            <i class="fa fa-question-circle text-blue" popover="{{company.pay_data_help}}" popover-trigger="mouseenter"></i>
          </label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-asterisk"></i>
            </span>
            <input type="text" class="form-control input-lg" ng-model="payment.code" ng-disabled="sending || payment.file" tabindex="2" ng-required="payment.company">
          </div>
        </div>

        <div class="form-group col-md-5 col-md-offset-1 col-xs-12">
          <label for="email">
            Email <small class="text-muted">(opcional)</small>
            <i class="fa fa-question-circle text-blue" popover="Correo electrónico para recibir notificaciones sobre el estado de su pago." popover-trigger="mouseenter"></i>
          </label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-at"></i>
            </span>
            <input type="email" class="form-control input-lg" ng-model="payment.email" ng-disabled="sending" tabindex="3">
          </div>
        </div>
        <div class="form-group col-md-5 col-xs-12">
          <label for="pin">
            PIN <small class="text-muted">(opcional)</small>
            <i class="fa fa-question-circle text-blue" popover="PIN numérico para restringir el acceso a los datos de su pago." popover-trigger="mouseenter"></i>
          </label>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock"></i>
            </span>
            <input type="number" class="form-control input-lg" pattern=".{4}" ng-model="payment.pin" ng-disabled="sending" tabindex="4" placeholder="Ej. 1987">
          </div>
        </div>

        <div class="col-md-10 col-md-offset-1 col-xs-12">
          <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="paymentForm.$invalid || sending">
            <span ng-if="sending">Confirmando...</span>
            <span ng-if="!sending">Confirmar</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
