<div id="seguridad" class="container">
  <h2>Seguridad</h2>

  <strong>enBitcoins:</strong>
  <ul>
    <li>
      <p>
        <i class="fa fa-ok pull-left"></i> <strong>NO</strong> solicita datos personales de los clientes.
      </p>
    </li>
    <li>
      <p>
        <i class="fa fa-ok pull-left"></i>
        <strong>NO</strong> requiere información sensible para procesar tu pago, como datos de tarjeta de crédito, número de documento, etc.
      </p>
    </li>
     <li>
      <p>
        <i class="fa fa-ok pull-left"></i> <strong>NO</strong> almacena claves privadas de direcciones de pago en nuestros servidores web (el dinero que transfieres para el pago de tus facturas no puede ser extraído si alguien ganase acceso a nuestro sistema).
      </p>
     </li>
  </ul>
</div>
