<div id="seguridad" class="container">
  <h2>
    <i class="fa fa-lock text-orange"></i>
    {{'SECURITY_HEADER' | translate}}
  </h2>

  <hr>

  <p>
    <strong>enBitcoins:</strong>
  </p>

  <ul class="list-unstyled">
    <li>
      <p>
        <i class="fa fa-check-circle-o text-green pull-left"></i>
        {{'SECURITY_1' | translate}}.
      </p>
    </li>
    <li>
      <p>
        <i class="fa fa-check-circle-o text-green pull-left"></i>
        {{'SECURITY_2' | translate}}.
      </p>
    </li>
     <li>
      <p>
        <i class="fa fa-check-circle-o text-green pull-left"></i>
        {{'SECURITY_3' | translate}}.
      </p>
     </li>
  </ul>
</div>
