<div id="seguridad" class="container">
  <h2>
    <i class="fa fa-lock text-orange"></i>
    Seguridad
  </h2>

  <hr>

  <p>
    <strong>enBitcoins:</strong>
  </p>

  <ul class="list-unstyled">
    <li>
      <p>
        <i class="fa fa-check-circle-o text-green pull-left"></i> <strong>NO</strong> solicita datos personales de los clientes.
      </p>
    </li>
    <li>
      <p>
        <i class="fa fa-check-circle-o text-green pull-left"></i>
        <strong>NO</strong> requiere información sensible para procesar tu pago, número de documento, teléfono, dirección, etc.
      </p>
    </li>
     <li>
      <p>
        <i class="fa fa-check-circle-o text-green pull-left"></i> <strong>NO</strong> almacena claves privadas de direcciones de pago en nuestros servidores web (el dinero que transfieres para el pago de tus facturas no puede ser extraído si alguien ganase acceso a nuestro sistema).
      </p>
     </li>
  </ul>
</div>
