<div ng-init="init()">
  <div class="container tx-panel" ng-class="{'tx-pending': (tx.status === 'waitingForBitcoins' || tx.status === 'waitingForMoreBitcoins' || tx.status === 'waitingForConfirmations' || tx.status === 'waitingForProvision' || tx.status === 'waitingForCorrection' || tx.status === 'waitingForRefund'), 'tx-success': tx.status === 'finished' || tx.status === 'refunded', 'tx-error': tx.status === 'cancelled'}" ng-if="!isPrivate && ready">
    <div class="tx-status">
      <span ng-if="tx.status === 'waitingForBitcoins' || tx.status === 'waitingForMoreBitcoins' || tx.status === 'waitingForConfirmations' || tx.status === 'waitingForProvision' || tx.status === 'waitingForCorrection' || tx.status === 'waitingForRefund'">{{'TX_STATUS_PENDING' | translate}}</span>
      <span ng-if="tx.status === 'finished' || tx.status === 'refunded'">{{'TX_STATUS_SUCCESS' | translate}}</span>
      <span ng-if="tx.status === 'cancelled'">{{'TX_STATUS_CANCELLED' | translate}}</span>
    </div>

    <div id="tx-info" class="row">
      <div class="col-md-7 info-left">
        <div class="content">

          <div class="step" ng-if="tx.status === 'cancelled'">
            <h3>
              <span class="step-icon">
                <i class="fa fa-times text-red"></i>
              </span>
              <span>
                {{'TX_CANCELLED' | translate}}.
              </span>
            </h3>
            <h5>
              {{tx.cancelled_date | date:'medium'}}
            </h5>
            <div class="alert alert-danger">
              {{'TX_CANCELLED_DETAILS' | translate}}.
            </div>
            <div class="check-payment" ng-if="showCheckButton()">
              <p>
                {{'TX_CHECK_BTN_LEGEND' | translate}}
              </p>
              <button type="button" class="btn btn-default btn-lg btn-block" ng-click="checkPayment()" ng-disabled="checkingPayment">
                <span ng-if="checkingPayment">{{'TX_CHECK_BTN_CHECKING' | translate}}...</span>
                <span ng-if="!checkingPayment">{{'TX_CHECK_BTN' | translate}}</span>
              </button>
            </div>
          </div>

          <div class="step" ng-if="step === 0 && tx.status !== 'cancelled'">
            <h3>
              <span class="step-icon">
                <i class="fa fa-refresh fa-spin text-yellow"></i>
              </span>
              <span>
                {{'TX_WAITING' | translate}}
              </span>
            </h3>
            <h5>
              {{tx.created_date | date:'medium'}}
            </h5>
            <div class="alert alert-info">
              {{'TX_WAITING_DETAILS' | translate}}.
            </div>

            <div class="check-payment" ng-if="showCheckButton()">
              <p>
                {{'TX_CHECK_BTN_LEGEND' | translate}}
              </p>
              <button type="button" class="btn btn-default btn-lg btn-block" ng-click="checkPayment()" ng-disabled="checkingPayment">
                <span ng-if="checkingPayment">{{'TX_CHECK_BTN_CHECKING' | translate}}...</span>
                <span ng-if="!checkingPayment">{{'TX_CHECK_BTN' | translate}}</span>
              </button>
            </div>

            <hr>

            <div class="payment-button">
              <a ng-href="{{bitcoinUrl}}" class="btn btn-success btn-lg btn-block" target="_blank">
                {{'TX_BTN_WALLET_PAY' | translate}}
              </a>
              <p>
                {{'TX_BTN_WALLET_PAY_LEGEND' | translate}}.
              </p>
            </div>
          </div>

          <div class="step" ng-if="step > 0">
            <h3>
              <span class="step-icon">
                <i class="fa fa-check text-green"></i>
              </span>
              <span>
                {{'TX_BTC_RECEIVED' | translate}}
              </span>
            </h3>
            <h5>
              {{tx.paid_date | date:'medium'}}
            </h5>
          </div>

          <div class="step" ng-if="step === 1 && tx.status === 'waitingForMoreBitcoins'">
            <h3>
              <span class="step-icon">
                <i class="fa fa-refresh fa-spin text-yellow"></i>
              </span>
              <span>
                {{'TX_INCOMPLETE_PAYMENT' | translate}}
              </span>
            </h3>
            <h5>
              {{'TX_INCOMPLETE_PAYMENT_DETAILS' | translate}} <strong>{{due | toBitcoins}}</strong> BTC
            </h5>

            <div class="alert alert-info">
              {{'TX_INCOMPLETE_PAYMENT_LEGEND' | translate}}.
            </div>

            <div class="check-payment" ng-if="showCheckButton()">
              <p>
                {{'TX_CHECK_BTN_LEGEND' | translate}}
              </p>
              <button type="button" class="btn btn-default btn-lg btn-block" ng-click="checkPayment()" ng-disabled="checkingPayment">
                <span ng-if="checkingPayment">{{'TX_CHECK_BTN_CHECKING' | translate}}...</span>
                <span ng-if="!checkingPayment">{{'TX_CHECK_BTN' | translate}}</span>
              </button>
            </div>

            <hr>

            <div class="payment-button">
              <a ng-href="{{bitcoinUrl}}" class="btn btn-success btn-lg btn-block" target="_blank">
                {{'TX_BTN_WALLET_PAY' | translate}}
              </a>
              <p>
                {{'TX_BTN_WALLET_PAY_LEGEND' | translate}}
              </p>
            </div>
          </div>

          <div class="step" ng-if="step === 1 && tx.status === 'waitingForConfirmations'">
            <h3>
              <span class="step-icon">
                <i class="fa fa-refresh fa-spin text-yellow"></i>
              </span>
              <span>
                {{'TX_WAITING_CONFIRMATIONS' | translate}} ({{tx.confirmations}}/{{$root.currentCountry.confirmations}})
              </span>
            </h3>
            <h5>
              {{tx.confirmations_date | date:'medium'}}
            </h5>
          </div>

          <div class="step" ng-if="step > 1">
            <h3>
              <span class="step-icon">
                <i class="fa fa-check text-green"></i>
              </span>
              <span>
                {{'TX_CONFIRMED' | translate}}
              </span>
            </h3>
            <h5>
              {{tx.confirmations_date | date:'medium'}}
            </h5>
          </div>

          <!-- Waiting for correction -->
          <div class="step" ng-if="step === 2 && tx.status === 'waitingForCorrection'">
            <h3>
              <span class="step-icon">
                <i class="fa fa-times text-red"></i>
              </span>
              <span>
                {{'TX_WAITING_CORRECTION' | translate}}
              </span>
            </h3>
            <h5>
              {{tx.correction_date | date:'medium'}}
            </h5>
            <div class="alert alert-danger">
              <strong>{{'TX_CORRECTION_MSG' | translate}}</strong>: {{tx.correction_msg}}
            </div>

            <div class="row correction-buttons" ng-hide="showCorrectionForm || showRefundForm">
              <div class="col-md-6 col-xs-12">
                <button type="button" class="btn btn-success btn-block" ng-click="toggleCorrection()">
                  {{'TX_CORRECTION_BTN' | translate}}
                </button>
              </div>
              <div class="col-md-6 col-xs-12">
                <button type="button" class="btn btn-danger btn-block" ng-click="toggleRefund()">
                  {{'TX_REFUND_BTN' | translate}}
                </button>
              </div>
            </div>

            <!-- Correction Form -->
            <form name="correctionForm" ng-submit="responseCorrection()" ng-if="showCorrectionForm">
              <div class="form-group">
                <label for="correction-response">{{'TX_CORRECTION_LABEL' | translate}}</label>
                <textarea id="correction-response" ng-model="$root.correctionMsg" rows="3" class="form-control" ng-disabled="sending" required></textarea>
              </div>
              <hr>
              <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="toggleCorrection()">{{'TX_CORRECTION_BTN_CANCEL' | translate}}</button>
                &nbsp;
                <button type="submit" class="btn btn-success pull-right" ng-disabled="correctionForm.$invalid || sending">{{'TX_CORRECTION_BTN_SEND' | translate }}</button>
              </div>
              <div class="clearfix"></div>
            </form>

            <!-- Refund Form -->
            <form name="refundForm" ng-submit="askRefund()" ng-if="showRefundForm">
              <div class="form-group">
                <label for="refund-addr">{{'TX_REFUND_LABEL' | translate}}</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-qrcode"></i>
                  </div>
                  <input type="text" id="refund-addr" class="form-control" ng-model="$root.refundAddr" ng-disabled="sending" required>
                </div>
              </div>
              <hr>
              <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="toggleRefund()">{{'TX_REFUND_BTN_CANCEL' | translate}}</button>
                &nbsp;
                <button type="submit" class="btn btn-success pull-right" ng-disabled="refundForm.$invalid || sending">{{'TX_REFUND_BTN_SEND' |translate }}</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>

          <!-- Waiting for refund -->
          <div class="step" ng-if="step === 2 && tx.status === 'waitingForRefund'">
            <h3>
              <span class="step-icon">
                <i class="fa fa-refresh fa-spin text-yellow"></i>
              </span>
              <span>
                {{'TX_REFUND_WAITING_MSG' | translate}}
              </span>
            </h3>
            <h5>
              {{tx.refund_request_date | date:'medium'}}
            </h5>
          </div>

          <!-- Waiting for provision -->
          <div class="step" ng-if="step === 2 && tx.status === 'waitingForProvision'">
            <h3>
              <span class="step-icon">
                <i class="fa fa-refresh fa-spin text-yellow"></i>
              </span>
              <span>
                {{'TX_PROVISION_WAITING_MSG' | translate}}
              </span>
            </h3>
            <h5>
              {{'TX_PROVISION_WAITING_DETAILS' | translate}}.
            </h5>
          </div>

          <!-- Provisioned -->
          <div class="step" ng-if="step === 3">
            <h3>
              <span class="step-icon">
                <i class="fa fa-check text-green"></i>
              </span>
              <span>
                {{'TX_PROVISION_COMPLETE' | translate}}
              </span>
            </h3>
            <h5>
              {{tx.provisioning_date | date:'medium'}}
            </h5>
          </div>

          <!-- Download ticket -->
          <div class="step" ng-if="step === 3">
            <h3>
              <span class="step-icon">
                <i class="fa fa-arrow-down text-green"></i>
              </span>
              <span>
                {{'TX_DOWNLOAD_INVOICE' | translate}}
              </span>
            </h3>
            <h5>
              {{'TX_DOWNLOAD_INVOICE_DETAILS' | translate}}.
            </h5>

            <br>

            <a ng-href="{{downloadFile}}" class="btn btn-success btn-lg btn-block" target="_blank">
              {{'TX_DOWNLOAD_BTN' | translate}}
            </a>

            <hr>

            <p>
              {{'TX_SOCIAL_MSG' | translate}}
            </p>

            <div class="row">
              <div class="col-md-6 col-xs-12">
                <a ng-href="https://www.facebook.com/sharer/sharer.php?u=https://enbitcoins.com" class="btn btn-block btn-share share-fb" target="_blank">
                  Facebook
                </a>
              </div>
              <div class="col-md-6 col-xs-12">
                <a ng-href="https://twitter.com/home?status=Paga%20tus%20facturas,%20tarjetas,%20servicios%20y%20recargas%20en%20%23bitcoins.%20%23enBitcoins%20https://enbitcoins.com" class="btn btn-block btn-share share-tw" target="_blank">
                  Twitter
                </a>
              </div>
            </div>
          </div>

          <!-- Refunded -->
          <div class="step" ng-if="step === 4">
            <h3>
              <span class="step-icon">
                <i class="fa fa-check text-green"></i>
              </span>
              <span>
                {{'TX_REFUND_COMPLETE' | translate}}
              </span>
            </h3>
            <h5>
              {{tx.refund_date | date:'medium'}}
            </h5>

            <div class="alert alert-info">
              {{'TX_INFO_MSG_1' | translate}} <a ng-href="https://blockchain.info/es/tx/{{tx.refund_transaction_hash}}" target="_blank">{{'TX_INFO_MSG_2' | translate}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 info-right">
        <div class="content">
          <div class="tx-details">
            <ul class="list-group">
              <li class="list-group-item" ng-if="tx.bill_company">
                <span class="pull-right">
                  {{tx.bill_company.name}}
                </span>
                <strong>{{'TX_BILL_COMPANY' | translate}}</strong>
              </li>
              <li class="list-group-item" ng-if="fileUrl">
                <a ng-href="{{fileUrl}}" class="pull-right" target="_blank">
                  {{'TX_BILL_FILE_VIEW' | translate}}
                </a>
                <strong>{{'TX_BILL_FILE' | translate}}</strong>
              </li>
              <li class="list-group-item">
                <span class="pull-right">
                  {{$root.currentCountry.currency_code}} <strong>{{tx.bill_amount}}</strong>
                </span>
                <strong>{{'TX_BILL_AMOUNT' | translate}}</strong>
              </li>
              <li class="list-group-item">
                <span class="pull-right">
                  {{$root.currentCountry.currency_code}} <strong>{{tx.convertion_rate}}</strong>
                </span>
                <strong>{{$root.currentCountry.currency_code}}/BTC</strong>
              </li>
              <li class="list-group-item">
                <span class="pull-right">
                  {{tx.addr}}
                  &nbsp;
                  <a href="" class="pull-right hidden-xs hidden-sm" clip-copy="tx.addr" clip-click="copyAddr()" title="{{'TX_BILL_COPY_TITLE' | translate}}">
                    <i class="fa fa-copy"></i>
                  </a>
                </span>
                <strong>{{'TX_BILL_TO' | translate}}</strong>
              </li>
              <li class="list-group-item">
                <span class="pull-right">
                  <strong>{{due || tx.due_amount_satoshis | toBitcoins}}</strong> BTC
                  &nbsp;
                  <a href="" class="pull-right hidden-xs hidden-sm" clip-copy="due || tx.due_amount_satoshis | toBitcoins" clip-click="copyAmount()" title="{{'TX_BILL_COPY_TITLE' | translate}}">
                    <i class="fa fa-copy"></i>
                  </a>
                </span>
                <strong>{{'TX_BILL_TOTAL' | translate}}</strong>
              </li>
            </ul>
          </div>

          <div class="qrcode-container">
            <img ng-src="https://chart.googleapis.com/chart?chld=Q&chs=250x250&cht=qr&chl={{bitcoinUrl}}" class="img-responsive center-block img-thumbnail">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" ng-if="isPrivate && ready">
    <div class="col-md-4 col-md-offset-4 pin-form">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">
            {{'TX_ACCESS_PIN' | translate}}
          </h3>
        </div>

        <div class="panel-body">
          <form name="pinForm" ng-submit="validatePin()">
            <div class="form-group">
              <input type="password" class="form-control" ng-model="$root.paymentPin" pattern=".{4}" ng-disabled="sending" autofocus required>
            </div>
            <button type="submit" class="btn btn-success btn-block" ng-disabled="pinForm.$invalid || sending">{{'TX_ACCESS_SEND' | translate}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
